@page
@model CW5_Wstrzykiwanie_Serwisu.Pages.Pobrane_z_plikuModel
@{
}
<div class="display-4 text-center"><h1>Pobrane z pliku</h1></div>
<div class="col-12">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Tytuł</th>
                <th>Wykonawca</th>
                <th>Opis</th>
                <th>Zdjęcie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.Maker</td>
                    <td>@product.Description</td>
                    <td><img src="@product.Image" width="300" height="300" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>